{#
/**
 * Block Name: Homepage Banner
 *
 * This is the template that displays the Homepage Banner block.
 */
#}

{% if is_preview %}

{% endif %}

<div class="banner-overlay">
    <section id="homepage-banner-{{ block.id }}" class="homepage-banner wrapper h-screen w-screen bg-cover flex justify-center items-center bg-no-repeat" style="background-image: url('{{ fields.homepage_banner_bg_image['url'] }}');">
    <div class="logo-container">
        <img src="{{ fields.homepage_banner_logo_image['url'] }}" alt="{% if fields.homepage_banner_logo_image['alt'] %}{{ fields.block_image['alt'] }}{% else %}Ben Grzybowski Web Development and Design Portland Oregon Logo{% endif %}">
    </div>
    </section>
</div>


<style type="text/css">
    #testimonial-{{ block.id }} {
        background: {{ fields.background_color }};
        color: {{ fields.text_color }};
    }
</style>