{#
/**
 * Block Name: Post display grid
 *
 * This is the template that displays the Post Display Grid
 */
#}

{% if is_preview %}

{% endif %}

<div id="post-display-grid-{{ block.id }}" class="post-display-grid relative">

<h3 class="text-center">{{ fields.title  }}</h3>

<div class="flex flex-wrap max-w-screen-xl mx-auto">
    <div class="w-full p-4">
        {% set post_type = fields.post_type_selection %}
        {% set posts = get_custom_posts(post_type, rand) %}
        {% if posts|length > 0 %}
            <div id="post-grid-container" class="flex flex-wrap">
                {% for post in posts %}
                    <div class="w-full sm:w-1/2 md:w-1/3 shadow-lg rounded-lg p-4">
                        <h4 class="text-lg font-semibold text-center p-4">{{ post.post_title }}</h4>
                        <div class="p-4 post-grid-img">
                            <img src="{{ post.thumbnail_url ? post.thumbnail_url : '/wp-content/uploads/2024/03/2021-logo.png' }}" alt="{% if post.alt %}{{ post.alt }}{% else %}Web development projects Ben Grzybowski has built or contributed to{% endif %}" class="max-w-full h-auto">
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No posts found.</p>
        {% endif %}
    </div>
    <button id="load-more-posts" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Load More
    </button>
</div>

</div>




<style type="text/css">

</style>