{#
/**
 * Block Name: Spinning Logo BG Cols Block
 *
 * This is the template that displays the spinning logo bg cols block
 */
#}


{% if is_preview %}

<div id="spinning-logo-bg-cols{{ block.id }}" class="spinning-logo-bg-cols flex justify-center items-center spinning-logo-bg-cols-block{{ block.id }} p-10">
      <div class="bg-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459.76 469.04">
          <defs>
            <style>
              .cls-11{font-size:198.11px;font-family:Lobster-Regular,Lobster;letter-spacing:.04em;fill:#010101}
              .cls-5{isolation:isolate;fill:#010101;font-size:21px;font-family:Roboto-Light,Roboto;font-weight:300}
              .cls-3{fill:none;stroke:#231f20;stroke-miterlimit:10;stroke-width:15px}
            </style>
          </defs>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <text class="cls-11" transform="translate(113.51 256.83)">B</text>
              <text class="cls-11" transform="translate(218.31 355.46)">G</text>
              <path fill="#010101" d="m183.17 383.85 86.29-271.66h-2.05l-86.28 271.66h2.04z"/>
              <g id="circle">
              <path class="cls-3" d="M231.83 457a220.2 220.2 0 0 1-154-62.52M231.83 15.1a220.07 220.07 0 0 1 140.54 50.45"/>
              <text class="cls-5" transform="rotate(-130.89 126.38086 176.26531)">B</text>
              <text class="cls-5" transform="rotate(-127.6 126.2747 172.28136)">E</text>
              <text class="cls-5" transform="rotate(-124.02 127.44593 167.8361)">N</text>
              <text class="cls-5" transform="rotate(-118.61 127.93222 160.62425)">G</text>
              <text class="cls-5" transform="rotate(-114.8 128.32522 155.02398)">R</text>
              <text class="cls-5" transform="rotate(-111.48 128.19833 150.18238)">Z</text>
              <text class="cls-5" transform="rotate(-108.1 128.61144 145.08753)">Y</text>
              <text class="cls-5" transform="rotate(-104.5 129.57094 139.50895)">B</text>
              <text class="cls-5" transform="rotate(-101.05 129.93833 134.04825)">O</text>
              <text class="cls-5" transform="matrix(-.12 -.99 .99 -.12 20.43 273.01)">W</text>
              <text class="cls-5" transform="rotate(-92.57 130.60702 118.24236)">S</text>
              <text class="cls-5" transform="rotate(-88.9 131.9194 111.52102)">K</text>
              <text class="cls-5" transform="rotate(-86.6 129.80272 103.95456)">I</text>
              <text class="cls-5" transform="matrix(.11 -.99 .99 .11 18.91 215.69)">-</text>
              <text class="cls-5" transform="rotate(-78.74 134.18745 89.42718)">W</text>
              <text class="cls-5" transform="matrix(.26 -.96 .96 .26 24.14 184.86)">E</text>
              <text class="cls-5" transform="rotate(-71.3 134.27458 67.36034)">B</text>
              <text class="cls-5" transform="rotate(-66.23 135.74808 51.67628)">D</text>
              <text class="cls-5" transform="rotate(-62.79 136.21697 38.76073)">E</text>
              <text transform="rotate(-59.33 137.72368 25.98691)" style="isolation:isolate" font-size="20.75" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">V</text>
              <text class="cls-5" transform="rotate(-56 138.47547 10.83037)">E</text>
              <text class="cls-5" transform="rotate(-53 138.875 -4.125)">L</text>
              <text class="cls-5" transform="matrix(.64 -.76 .76 .64 65.32 100.77)">O</text>
              <text class="cls-5" transform="matrix(.69 -.72 .72 .69 74.75 89.66)">P</text>
              <text class="cls-5" transform="rotate(-43.1 144.04745 -66.30469)">E</text>
              <text transform="rotate(-39.6 145.384 -93.112)" style="isolation:isolate" font-size="20.78" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">R</text>
              <text class="cls-5" transform="rotate(-35 149.377 -142.5827)">&amp;</text>
              <text transform="rotate(-29.39 155.201 -211.8496)" style="isolation:isolate" font-size="20.73" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">D</text>
              <text class="cls-5" transform="rotate(-26.15 158.45471 -272.32794)">E</text>
              <text class="cls-5" transform="rotate(-23 164.23218 -344.13186)">S</text>
              <text class="cls-5" transform="rotate(-20.38 167.49791 -427.18574)">I</text>
              <text transform="rotate(-17.53 177.78399 -520.22223)" style="isolation:isolate" font-size="20.68" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">G</text>
              <text class="cls-5" transform="rotate(-13.74 192.98088 -730.21316)">N</text>
              <text class="cls-5" transform="rotate(-10.14 217.33524 -1081.51669)">E</text>
              <text class="cls-5" transform="matrix(.99 -.12 .12 .99 205.96 19.19)">R</text>
              <text class="cls-5" transform="rotate(48 102.1313 469.77928)">B</text>
              <text class="cls-5" transform="matrix(.62 .78 -.78 .62 390.18 89.35)">E</text>
              <text class="cls-5" transform="rotate(54.98 103.84507 431.84192)">N</text>
              <text class="cls-5" transform="rotate(60.39 104.90324 410.16242)">G</text>
              <text class="cls-5" transform="rotate(63.9 104.3754 398.29975)">R</text>
              <text class="cls-5" transform="matrix(.38 .92 -.92 .38 422.9 141.45)">Z</text>
              <text class="cls-5" transform="rotate(70.9 106.16577 377.16703)">Y</text>
              <text class="cls-5" transform="rotate(74.33 106.75219 367.82192)">B</text>
              <text class="cls-5" transform="rotate(77.95 107.5553 358.44659)">O</text>
              <text class="cls-5" transform="rotate(82.5 109.95907 346.55112)">W</text>
              <text class="cls-5" transform="rotate(86.43 107.98886 340.57629)">S</text>
              <text transform="rotate(89.93 108.65784 333.45516)" style="isolation:isolate" font-size="20.76" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">K</text>
              <text class="cls-5" transform="rotate(92.3 106.4116 331.24193)">I</text>
              <text class="cls-5" transform="rotate(95.44 107.00531 325.58666)">-</text>
              <text class="cls-5" transform="rotate(100.26 110.61426 314.83803)">W</text>
              <text class="cls-5" transform="rotate(104.35 109.27092 309.89569)">E</text>
              <text class="cls-5" transform="rotate(107.7 109.79881 304.75539)">B</text>
              <text class="cls-5" transform="rotate(112.77 110.45216 297.49416)">D</text>
              <text class="cls-5" transform="rotate(116.21 110.25695 293.2035)">E</text>
              <text transform="rotate(119.67 110.96238 288.48368)" style="isolation:isolate" font-size="20.75" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">V</text>
              <text class="cls-5" transform="rotate(122.88 110.66832 284.80499)">E</text>
              <text class="cls-5" transform="rotate(126.2 110.55822 280.75608)">L</text>
              <text class="cls-5" transform="rotate(129.16 111.55246 277.13114)">O</text>
              <text class="cls-5" transform="rotate(132.8 112.0886 273.05636)">P</text>
              <text transform="rotate(136.06 111.2933 269.70286)" style="isolation:isolate" font-size="20.76" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">E</text>
              <text transform="rotate(139.5 111.85032 265.88222)" style="isolation:isolate" font-size="20.78" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">R</text>
              <text class="cls-5" transform="rotate(144.38 111.8981 260.81464)">&amp;</text>
              <text transform="rotate(149.61 112.74993 255.31933)" style="isolation:isolate" font-size="20.73" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">D</text>
              <text class="cls-5" transform="rotate(152.85 112.10188 252.3181)">E</text>
              <text class="cls-5" transform="rotate(156.14 112.42642 249.03512)">S</text>
              <text class="cls-5" transform="rotate(158.62 110.8854 246.93332)">I</text>
              <text transform="rotate(161.8 113.11288 243.56211)" style="isolation:isolate" font-size="20.68" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">G</text>
              <text class="cls-5" transform="rotate(165.26 113.61164 240.12449)">N</text>
              <text class="cls-5" transform="rotate(168.5 113.54043 236.78923)">E</text>
              <text class="cls-5" transform="rotate(171.9 113.03633 233.9121)">R</text>
            </g>
            </g>
          </g>
        </svg>          
      </div>
<h2 p-5>{{ fields.title }}</h2>

<div class="column-container sm:max-w-[900px] grid grid-cols-3 gap-4 p-10">

    {% for column in fields.columns %}

    <div class="column bg-white p-2 m-2 rounded-lg border border-gray-200 md:min-w-[250px]">
            <h4 class="text-center">{{ column.title }}</h3>

            <div class="list-items p-5">
                {% for item in column.list_items %}
                    
                    <p class="p-2 border-t border-gray-700">
                        <i class="fas fa-code mr-2"></i> {{ item.list_item_text }}
                    </p>

                {% endfor %}
            </div>
    </div>

    {% endfor %}

</div>

</div>

{% else %}


<div id="spinning-logo-bg-cols{{ block.id }}" class="spinning-logo-bg-cols flex justify-center items-center spinning-logo-bg-cols-block{{ block.id }} h-screen w-screen p-10">
      <div class="bg-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459.76 469.04">
          <defs>
            <style>
              .cls-11{font-size:198.11px;font-family:Lobster-Regular,Lobster;letter-spacing:.04em;fill:#010101}
              .cls-5{isolation:isolate;fill:#010101;font-size:21px;font-family:Roboto-Light,Roboto;font-weight:300}
              .cls-3{fill:none;stroke:#231f20;stroke-miterlimit:10;stroke-width:15px}
            </style>
          </defs>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <text class="cls-11" transform="translate(113.51 256.83)">B</text>
              <text class="cls-11" transform="translate(218.31 355.46)">G</text>
              <path fill="#010101" d="m183.17 383.85 86.29-271.66h-2.05l-86.28 271.66h2.04z"/>
              <g id="circle">
              <path class="cls-3" d="M231.83 457a220.2 220.2 0 0 1-154-62.52M231.83 15.1a220.07 220.07 0 0 1 140.54 50.45"/>
              <text class="cls-5" transform="rotate(-130.89 126.38086 176.26531)">B</text>
              <text class="cls-5" transform="rotate(-127.6 126.2747 172.28136)">E</text>
              <text class="cls-5" transform="rotate(-124.02 127.44593 167.8361)">N</text>
              <text class="cls-5" transform="rotate(-118.61 127.93222 160.62425)">G</text>
              <text class="cls-5" transform="rotate(-114.8 128.32522 155.02398)">R</text>
              <text class="cls-5" transform="rotate(-111.48 128.19833 150.18238)">Z</text>
              <text class="cls-5" transform="rotate(-108.1 128.61144 145.08753)">Y</text>
              <text class="cls-5" transform="rotate(-104.5 129.57094 139.50895)">B</text>
              <text class="cls-5" transform="rotate(-101.05 129.93833 134.04825)">O</text>
              <text class="cls-5" transform="matrix(-.12 -.99 .99 -.12 20.43 273.01)">W</text>
              <text class="cls-5" transform="rotate(-92.57 130.60702 118.24236)">S</text>
              <text class="cls-5" transform="rotate(-88.9 131.9194 111.52102)">K</text>
              <text class="cls-5" transform="rotate(-86.6 129.80272 103.95456)">I</text>
              <text class="cls-5" transform="matrix(.11 -.99 .99 .11 18.91 215.69)">-</text>
              <text class="cls-5" transform="rotate(-78.74 134.18745 89.42718)">W</text>
              <text class="cls-5" transform="matrix(.26 -.96 .96 .26 24.14 184.86)">E</text>
              <text class="cls-5" transform="rotate(-71.3 134.27458 67.36034)">B</text>
              <text class="cls-5" transform="rotate(-66.23 135.74808 51.67628)">D</text>
              <text class="cls-5" transform="rotate(-62.79 136.21697 38.76073)">E</text>
              <text transform="rotate(-59.33 137.72368 25.98691)" style="isolation:isolate" font-size="20.75" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">V</text>
              <text class="cls-5" transform="rotate(-56 138.47547 10.83037)">E</text>
              <text class="cls-5" transform="rotate(-53 138.875 -4.125)">L</text>
              <text class="cls-5" transform="matrix(.64 -.76 .76 .64 65.32 100.77)">O</text>
              <text class="cls-5" transform="matrix(.69 -.72 .72 .69 74.75 89.66)">P</text>
              <text class="cls-5" transform="rotate(-43.1 144.04745 -66.30469)">E</text>
              <text transform="rotate(-39.6 145.384 -93.112)" style="isolation:isolate" font-size="20.78" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">R</text>
              <text class="cls-5" transform="rotate(-35 149.377 -142.5827)">&amp;</text>
              <text transform="rotate(-29.39 155.201 -211.8496)" style="isolation:isolate" font-size="20.73" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">D</text>
              <text class="cls-5" transform="rotate(-26.15 158.45471 -272.32794)">E</text>
              <text class="cls-5" transform="rotate(-23 164.23218 -344.13186)">S</text>
              <text class="cls-5" transform="rotate(-20.38 167.49791 -427.18574)">I</text>
              <text transform="rotate(-17.53 177.78399 -520.22223)" style="isolation:isolate" font-size="20.68" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">G</text>
              <text class="cls-5" transform="rotate(-13.74 192.98088 -730.21316)">N</text>
              <text class="cls-5" transform="rotate(-10.14 217.33524 -1081.51669)">E</text>
              <text class="cls-5" transform="matrix(.99 -.12 .12 .99 205.96 19.19)">R</text>
              <text class="cls-5" transform="rotate(48 102.1313 469.77928)">B</text>
              <text class="cls-5" transform="matrix(.62 .78 -.78 .62 390.18 89.35)">E</text>
              <text class="cls-5" transform="rotate(54.98 103.84507 431.84192)">N</text>
              <text class="cls-5" transform="rotate(60.39 104.90324 410.16242)">G</text>
              <text class="cls-5" transform="rotate(63.9 104.3754 398.29975)">R</text>
              <text class="cls-5" transform="matrix(.38 .92 -.92 .38 422.9 141.45)">Z</text>
              <text class="cls-5" transform="rotate(70.9 106.16577 377.16703)">Y</text>
              <text class="cls-5" transform="rotate(74.33 106.75219 367.82192)">B</text>
              <text class="cls-5" transform="rotate(77.95 107.5553 358.44659)">O</text>
              <text class="cls-5" transform="rotate(82.5 109.95907 346.55112)">W</text>
              <text class="cls-5" transform="rotate(86.43 107.98886 340.57629)">S</text>
              <text transform="rotate(89.93 108.65784 333.45516)" style="isolation:isolate" font-size="20.76" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">K</text>
              <text class="cls-5" transform="rotate(92.3 106.4116 331.24193)">I</text>
              <text class="cls-5" transform="rotate(95.44 107.00531 325.58666)">-</text>
              <text class="cls-5" transform="rotate(100.26 110.61426 314.83803)">W</text>
              <text class="cls-5" transform="rotate(104.35 109.27092 309.89569)">E</text>
              <text class="cls-5" transform="rotate(107.7 109.79881 304.75539)">B</text>
              <text class="cls-5" transform="rotate(112.77 110.45216 297.49416)">D</text>
              <text class="cls-5" transform="rotate(116.21 110.25695 293.2035)">E</text>
              <text transform="rotate(119.67 110.96238 288.48368)" style="isolation:isolate" font-size="20.75" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">V</text>
              <text class="cls-5" transform="rotate(122.88 110.66832 284.80499)">E</text>
              <text class="cls-5" transform="rotate(126.2 110.55822 280.75608)">L</text>
              <text class="cls-5" transform="rotate(129.16 111.55246 277.13114)">O</text>
              <text class="cls-5" transform="rotate(132.8 112.0886 273.05636)">P</text>
              <text transform="rotate(136.06 111.2933 269.70286)" style="isolation:isolate" font-size="20.76" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">E</text>
              <text transform="rotate(139.5 111.85032 265.88222)" style="isolation:isolate" font-size="20.78" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">R</text>
              <text class="cls-5" transform="rotate(144.38 111.8981 260.81464)">&amp;</text>
              <text transform="rotate(149.61 112.74993 255.31933)" style="isolation:isolate" font-size="20.73" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">D</text>
              <text class="cls-5" transform="rotate(152.85 112.10188 252.3181)">E</text>
              <text class="cls-5" transform="rotate(156.14 112.42642 249.03512)">S</text>
              <text class="cls-5" transform="rotate(158.62 110.8854 246.93332)">I</text>
              <text transform="rotate(161.8 113.11288 243.56211)" style="isolation:isolate" font-size="20.68" font-family="Roboto-Light,Roboto" font-weight="300" fill="#010101">G</text>
              <text class="cls-5" transform="rotate(165.26 113.61164 240.12449)">N</text>
              <text class="cls-5" transform="rotate(168.5 113.54043 236.78923)">E</text>
              <text class="cls-5" transform="rotate(171.9 113.03633 233.9121)">R</text>
            </g>
            </g>
          </g>
        </svg>          
      </div>
<h2 p-5>{{ fields.title }}</h2>

<div class="column-container sm:max-w-[900px] grid grid-cols-3 gap-4 p-10">

    {% for column in fields.columns %}

    <div class="column bg-white p-2 m-2 rounded-lg border border-gray-200 md:min-w-[250px]">
            <h4 class="text-center">{{ column.title }}</h3>

            <div class="list-items p-5">
                {% for item in column.list_items %}
                    
                    <p class="p-2 border-t border-gray-700">
                        <i class="fas fa-code mr-2"></i> {{ item.list_item_text }}
                    </p>

                {% endfor %}
            </div>
    </div>

    {% endfor %}

</div>

</div>

{% endif %}

<style type="text/css">

</style>